*
{
    box-sizing: border-box;
}
h1
{
border:solid black;
background-color: blue;
height:50px;
color:white;
border-radius:5em;
}
.column1
{
    float: left;
    width: 33.33%;
    padding: 40px;
    overflow:scroll;
    height: 450px;
}
.column2
{
    float: left;
    width: 33.33%;
    padding: 20px;
    height: 450px;
}
.column3
{
    float: left;
    width: 33.33%;
    padding: 20px;
    height: 450px;
}
img
{
border-radius: 10%;
}
.footer
{
text-align:center;
position: absolute;
bottom: 0;
text-align:center;
padding: 1px;
background-color:#333;
Color:white;
font-weight:bolder;
flex-wrap: wrap;
border-radius:12px;
width: 100%;
}